# Notebook 1: Introduction to Pandas and the Titanic Data Set
***

If you haven't at least skimmed the Numpy and Pandas tutorial, **STOP** and go do that now. 

In this notebook you'll apply some basic Pandas tools to explore the ubiquitous **Titanic** dataset. 

First, as always, we'll load Numpy and Pandas using their common aliases, np and pd.

In [5]:
import numpy as np 
import pandas as pd

The data is stored in a .csv file (a format that lists data separated by commas) called clean_titanic_data.csv.  We'll import the data into Pandas using the read_csv( ) function.  Depending on how you're accessing this notebook you'll use one of two options to access the data.  If you've cloned the class GitHub repository then you'll have a local copy of the data set on your machine and you can use the local file path shown below.  If you are using Azure Notebooks, or have gotten this notebook in some other way, then you will use the the web-based file path shown below.

In [14]:
# Path to the data - select the path that works for you 
file_path = '/Users/chakryaros/Dropbox/csci3022_DataSci/data/clean_titanic_data.csv'

# Load the data into a DataFrame 
df = pd.read_csv(file_path)
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              7         0       1
6              8         0       3
7              9         1       3
8             10         1       2
9             11         1       3
10            12         1       1
11            13         0       3
12            14         0       3
13            15         0       3
14            16         1       2
15            17         0       3
16            19         0       3
17            21         0       2
18            22         1       2
19            23         1       3
20            24         1       1
21            25         0       3
22            26         1       3
23            28         0       1
24            31         0       1
25            34         0       2
26            35         0       1
27            36         0       1
28            38         0       3
29            39         0       3
..           ...       ...     ...
684          857         1       1
685          858         1       1
686          859         1       3
687          861         0       3
688          862         0       2
689          863         1       1
690          865         0       2
691          866         1       2
692          867         1       2
693          868         0       1
694          870         1       3
695          871         0       3
696          872         1       1
697          873         0       1
698          874         0       3
699          875         1       2
700          876         1       3
701          877         0       3
702          878         0       3
703          880         1       1
704          881         1       2
705          882         0       3
706          883         0       3
707          884         0       2
708          885         0       3
709          886         0       3
710          887         0       2
711          888         1       1
712          890         1       1
713          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
5                              McCarthy, Mr. Timothy J    male  54.0      0
6                       Palsson, Master. Gosta Leonard    male   2.0      3
7    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
8                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
9                      Sandstrom, Miss. Marguerite Rut  female   4.0      1
10                            Bonnell, Miss. Elizabeth  female  58.0      0
11                      Saundercock, Mr. William Henry    male  20.0      0
12                         Andersson, Mr. Anders Johan    male  39.0      1
13                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
14                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
15                                Rice, Master. Eugene    male   2.0      4
16   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
17                                Fynney, Mr. Joseph J    male  35.0      0
18                               Beesley, Mr. Lawrence    male  34.0      0
19                         McGowan, Miss. Anna "Annie"  female  15.0      0
20                        Sloper, Mr. William Thompson    male  28.0      0
21                       Palsson, Miss. Torborg Danira  female   8.0      3
22   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
23                      Fortune, Mr. Charles Alexander    male  19.0      3
24                            Uruchurtu, Don. Manuel E    male  40.0      0
25                               Wheadon, Mr. Edward H    male  66.0      0
26                             Meyer, Mr. Edgar Joseph    male  28.0      1
27                      Holverson, Mr. Alexander Oskar    male  42.0      1
28                            Cann, Mr. Ernest Charles    male  21.0      0
29                  Vander Planke, Miss. Augusta Maria  female  18.0      2
..                                                 ...     ...   ...    ...
684         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
685                             Daly, Mr. Peter Denis     male  51.0      0
686              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.0      0
687                            Hansen, Mr. Claus Peter    male  41.0      2
688                        Giles, Mr. Frederick Edward    male  21.0      1
689  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
690                             Gill, Mr. John William    male  24.0      0
691                           Bystrom, Mrs. (Karolina)  female  42.0      0
692                       Duran y More, Miss. Asuncion  female  27.0      1
693               Roebling, Mr. Washington Augustus II    male  31.0      0
694                    Johnson, Master. Harold Theodor    male   4.0      1
695                                  Balkic, Mr. Cerin    male  26.0      0
696   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
697                           Carlsson, Mr. Frans Olof    male  33.0      0
698                        Vander Cruyssen, Mr. Victor    male  47.0      0
699              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
700                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
701                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
702                               Petroff, Mr. Nedelio    male  19.0      0
703      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
704       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
705                                 Markun, Mr. Johann    male  33.0      0
706                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
707                      Banfield, Mr. Frederick James    male  28.0      0
708                             Sutehall, Mr. Henry Jr    male  25.0      0
709               Rice, Mrs. William (Margaret Norton)  female  39.0      0
710                              Montvila, Rev. Juozas    male  27.0      0
711                       Graham, Miss. Margaret Edith  female  19.0      0
712                              Behr, Mr. Karl Howell    male  26.0      0
713                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare Embarked
0        0         A/5 21171    7.2500        S
1        0          PC 17599   71.2833        C
2        0  STON/O2. 3101282    7.9250        S
3        0            113803   53.1000        S
4        0            373450    8.0500        S
5        0             17463   51.8625        S
6        1            349909   21.0750        S
7        2            347742   11.1333        S
8        0            237736   30.0708        C
9        1           PP 9549   16.7000        S
10       0            113783   26.5500        S
11       0         A/5. 2151    8.0500        S
12       5            347082   31.2750        S
13       0            350406    7.8542        S
14       0            248706   16.0000        S
15       1            382652   29.1250        Q
16       0            345763   18.0000        S
17       0            239865   26.0000        S
18       0            248698   13.0000        S
19       0            330923    8.0292        Q
20       0            113788   35.5000        S
21       1            349909   21.0750        S
22       5            347077   31.3875        S
23       2             19950  263.0000        S
24       0          PC 17601   27.7208        C
25       0        C.A. 24579   10.5000        S
26       0          PC 17604   82.1708        C
27       0            113789   52.0000        S
28       0        A./5. 2152    8.0500        S
29       0            345764   18.0000        S
..     ...               ...       ...      ...
684      1             36928  164.8667        S
685      0            113055   26.5500        S
686      3              2666   19.2583        C
687      0            350026   14.1083        S
688      0             28134   11.5000        S
689      0             17466   25.9292        S
690      0            233866   13.0000        S
691      0            236852   13.0000        S
692      0     SC/PARIS 2149   13.8583        C
693      0          PC 17590   50.4958        S
694      1            347742   11.1333        S
695      0            349248    7.8958        S
696      1             11751   52.5542        S
697      0               695    5.0000        S
698      0            345765    9.0000        S
699      0         P/PP 3381   24.0000        C
700      0              2667    7.2250        C
701      0              7534    9.8458        S
702      0            349212    7.8958        S
703      1             11767   83.1583        C
704      1            230433   26.0000        S
705      0            349257    7.8958        S
706      0              7552   10.5167        S
707      0  C.A./SOTON 34068   10.5000        S
708      0   SOTON/OQ 392076    7.0500        S
709      5            382652   29.1250        Q
710      0            211536   13.0000        S
711      0            112053   30.0000        S
712      0            111369   30.0000        C
713      0            370376    7.7500        Q

[714 rows x 11 columns]

Take a look at the first few rows of the DataFrame using the head( ) method.

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

From this you should see that each row in the DataFrame refers to a particular passenger on the Titanic.  The columns of the DataFrame give you specific information about each passenger.  The **PassengerId** is simply a unique identifier given to each passenger in the data set.  The rest of the attributes are more meaningful: 

- **Survived**: Indicates whether the passenger survived the sinking
- **Pclass**: Indicates the socio-economic status of the passenger (lower number means higher class)
- **Name**: The passenger's name 
- **Sex**: The passenger's sex 
- **Age**: The passenger's age
- **SibSp**: The number of siblings / spouses the passenger was traveling with 
- **Parch**: The number of children / parents the passenger was traveling with 
- **Ticket**: The passenger's ticket number 
- **Fare**: How much the passenger paid for their ticket 
- **Embarked**: The passenger's port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

### Exercise 1
***
Determine how many people survived the disaster

In [15]:
if df['Survived'] == 1:
    people_survived = people_survived + 1
print("{} people survived the disaster".format(people_survived))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Exercise 2  
***
Determine how many men and how many women survived the disaster

In [ ]:
male_survived = # TODO 
female_survived = # TODO 
print("{} men survived the disaster".format(male_survived))
print("{} women survived the disaster".format(female_survived))

### Exercise 3 
***
Determine how many children under the age of 12 survived the disaster.

In [ ]:
children_survived = # TODO 
print("{} children survived the disaster".format(children_survived))

### Exercise 4 
***
The **SibSp** and **Parch** attributes tell us the number of siblings/spouses and parents/children each passenger had on board.  Create a new column in the DataFrame called **Family** that indicates how many siblings/spouses/parents/children a passenger was traveling with. Then report how many people survived that were traveling with 3 or more family members.

In [ ]:
df["Family"] = # TODO 
family_survived = # TODO 
print("{} people traveling with 3 or more family members survived the disaster".format(family_survived))

### Exercise 5 
***
In this exercise you will write some code to predict whether a person survived the disaster based on their information.  Obviously, you'll want to ignore the **Survived** attribute for this to avoid cheating. You'll store your predictions ($1$ if you predict survived, $0$ if you predict died) in a column of the DataFrame called **Prediction**.  You can then use the following function to see how accurate your prediction was.

In [ ]:
def score_prediction(df):
    '''
    Function to score predictions.  
    Takes entire DataFrame as sole argument. 
    '''
    acc = (df["Survived"]==df["Prediction"]).sum() / len(df)
    print("Your accuracy is {0:.1f}%".format(100*acc))

There are several ways that we can accomplish this.  The first method we'll highlight is one that loops over every row in the DataFrame, makes a decision based on that row's attributes, and then sets the relevant prediction in the **Prediction** column.  As an example, we'll use a very naive heuristic that predicts that all males survive and all females die.

In [ ]:
for passenger_index, passenger in df.iterrows():
    df.loc[passenger_index, "Prediction"] = 1 if df.loc[passenger_index, "Sex"] == 'male' else 0

We can check that our code actually did something using the head( ) function and observing that we do in fact have a column called **Prediction** populated with $1$'s and $0$'s. You can see that the $1$'s in the **Prediction** column do in-fact line up with "male" in the **Sex** column.

In [ ]:
df.head(10)

Now, let's see how we did by passing our DataFrame into the score_prediction( ) function.

In [ ]:
score_prediction(df)

And here we see that our naive prediction netted us a 22% prediction accuracy (which isn't very good, but you're going to make it better). 

OK, so looping over the data is one option, but in Python, unfortunately, it's not a very good option.  Python is an interpreted language, which means that loops are slow.  We didn't really notice it here, because our DataFrame only has around 700 rows in it, but on data sets with hundreds of thousands or millions of entries, loops can grind your day to a complete halt.  

It's better to use vectorized methods like Pandas apply( ) function combined with Python lambda functions.  One way to accomplish the same results as above is as follows:

In [ ]:
df["Prediction"] = df["Sex"].apply(lambda s: 1 if s=="male" else 0)
df.head(10)

You can check that this produces the same result as the loop-based method. We can compare the speeds of the apply( ) method and the loop-based method using the Jupyter magic %timeit command.

In [ ]:
# Loop-based method 
print("Timing loop-based method: ")
%timeit for passenger_index, passenger in df.iterrows(): df.loc[passenger_index, "Prediction"] = 1 if df.loc[passenger_index, "Sex"] == 'male' else 0
    
# Apply-based method 
print("Timing apply-based method: ")
%timeit df["Prediction"] = df["Sex"].apply(lambda s: 1 if s=="male" else 0)

Note that here ms is milliseconds and $\mu\textrm{s}$ is **micro**seconds.  You can hopefully see that the apply method is **tremendously** faster than the loop-based method. 

OK, let's do one more slightly more complicated example so that we can see how to use the apply( ) function with multiple inputs.  Suppose say that you want to predict that a person survived if they are male **AND** they were traveling alone (probably not a good heuristic but just go with it).  To do this we need values from both the **Sex** column and the **Family** column.  Here is the code

In [ ]:
df["Prediction"] = df.apply(lambda row: 1 if row["Sex"]=="male" and row["Family"]==0 else 0, axis=1)
df.head()

Here the apply( ) function is applied to the entire DataFrame and the object passed to the lambda function is an entire row of the DataFrame.  We can then carve off the elements from the columns we're interested in and do our thing.  Let's see how we did!

In [ ]:
score_prediction(df)

**W00T!** Minor improvement! OK, so you're job is to explore the data and see if you can cook up a custom prediction heuristic that does better than 31.1%!  I've created a Titanic Leaderboard post on Canvas.  If you get an accuracy you're proud of, post it there along with a description of what you did!